.guest-navbar {
    background-color:var(--white);
    color:var(--black);
    border-width:0px 0px 1px 0px;
    border-color:var(--gray);
    border-style:solid;
    display:flex;
    align-items:center;
    height:80px;
    padding:0px 20px;
}
select {
    /* width:50px; */
    background-color:var(--white);
    color:var(--black);
    border:none;
    outline:none;
    cursor: pointer;
    :focus {
        outline:none;
    }
}
.nav-right-side {
    width:max(20vw, 200px);
}
.active, .active2 {
    text-align:center;
    padding:5px 15px;
    background-color:var(--teal);
    border-radius:30px;
    color:#fff;
}
.active2 {
    padding:3px 10px;
}

svg {
    color:var(--black);
}

ul:has(.mobile-menu) {
    background-color:var(--white);
    color:var(--black);
    min-width:100px;
    display:flex;
    flex-direction:column;

    align-items:center;
    border:2px solid var(--gray-50);
    padding:12px 0px;
    .mobile-menu > *{
        margin-top:10px;
    }

}