@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 89.8%;
    --fg: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-fg: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-fg: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-fg: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-fg: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-fg: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-fg: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-fg: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --fg: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-fg: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-fg: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-fg: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-fg: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-fg: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-fg: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-fg: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  body {
    @apply bg-background text-fg;
  }

  .page-container {
    @apply px-4 sm:px-6 lg:px-8;
  }
  .nav-height {
    @apply h-[64px];
  }
  .page-height {
    @apply min-h-[calc(100vh-64px)];
  }
}

[dir="rtl"] .mrt-table-pagination .mantine-ActionIcon-icon {
  rotate: 180deg;
}
