@tailwind base;
@tailwind components;
@tailwind utilities;


/* To change color using css */

body {
    --teal: #0B9992;
		--black:#2B2B2B;
		--gray: #D9D9D9;
}

[class="dark"] body {
  background-color: #000;
  color: white;
}