@tailwind base;
@tailwind components;
@tailwind utilities;

/* To change color using css */

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;


  /*Phone Input filed */
  --phone-text: #696d74;
  --phone-bg: #fff;
  --phone-border: #cbd5e1;
  --phone-hover: #e2e8f0;
}

[class='dark'] body {
   /*Phone Input filed */
  --phone-text: rgb(245 245 244);
  --phone-bg: #18181b;
  --phone-border: #71717a;
  --phone-hover: #3f3f46;
}


